.normal-text{
	display: block;

	margin: 0 0;

	color: white;

	text-align: center;

	font-weight: 800;
}

body{
	background-color: rgb(40, 40, 40);
}

.page-title{
	display: block;

	margin: 0 0;

	color: white;

	text-align: center;

	font-size: 75px;
	font-weight: 1000;
}

.stat-window-wrapper{
	width: 750px;

	padding: 30px 30px;

	border: 3px solid white;
	border-radius: 10px;

	margin: 0 auto;
	margin-top: 50px;
}

.dividing-line{
	width: 500px;

	border: 2px solid rgb(200, 200, 200);
	border-radius: 15px;

	margin: 30px auto;
}

#my-stat-history-canvas{
	margin: 0 auto;
	margin-top: 30px;
}