<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/index.css">

	<title>스탯창</title>
</head>
<body>
	<div class="content-wrapper">
		<div class="nav-bar-wrapper">
			<ul class="nav-bar">
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/">홈</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/training">훈련장</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/my-profile">프로필</a></li>
			</ul>
		</div>

		<h1 class="page-title">STAT</h1>

		<div class="stat-window-wrapper">
			<a class="normal-text margin-bottom-30px">당신의 레벨 : LV</a>

			<div class="status-wrapper">
				<a class="normal-text-link margin-bottom-15px" href="/my-stat?stat=STR">근력 : LV</a>
				<a class="normal-text-link margin-bottom-15px" href="/my-stat?stat=INT">지능 : LV</a>
			</div>
		</div>
	</dlv>
</body>
</html>