<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/signup.css ">

    <title>회원가입</title>
</head>
<body>
    <div class="content-wrapper">
		<div class="nav-bar-wrapper">
			<ul class="nav-bar">
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/">홈</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/training">훈련장</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/my-profile">프로필</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/login">로그인</a></li>
			</ul>
		</div>

		<h1 class="page-title">SIGNUP</h1>

		<div class="signup-window-wrapper">
			<input type="text" class="normal-text-input" id="user-id" name="user-id" placeholder="ID">
			<input type="password" class="normal-text-input" id="user-pw" name="user-pw" placeholder="PW">
			<input type="password" class="normal-text-input" id="user-pw-check" name="user-pw-check" placeholder="PW_CHECK">

			<input type="text" class="normal-text-input" id="user-nickname" name="user-nickname" placeholder="NICKNAME">

			<input type="text" class="normal-text-input" id="user-email" name="user-email" placeholder="EMAIL">

			<input type="button" class="normal-button" id="signup-submit" value="제출">

			<p class="warning-message-text margin-top-30px" id="warning-message"></p>
		</div>
	</dlv>

	<script type="text/javascript" src="../static/js/signup.js"></script>
</body>
</html>