<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/training.css">

	<title>훈련장</title>
</head>
<body>
	<div class="content-wrapper">
		<div class="nav-bar-wrapper">
			<ul class="nav-bar">
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/">홈</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/training">훈련장</a></li>
				<li class="nav-bar-element"><a class="normal-text-link color-black" href="/my-profile">프로필</a></li>
			</ul>
		</div>

		<h1 class="page-title">TRAINING</h1>

		<div id="training-window-wrapper">
			<input id="initial-training-verify-button" type="button">
		</div>

		<div id="training-result-wrapper">
			<a class="normal-text-link margin-bottom-15px" id="acquired-exp-text"></a>

			<input class="normal-button" id="retraining-button" type="button" value="재훈련">
		</div>
	</dlv>

	<script type="text/javascript" src="../static/js/training-verify-button.js"></script>
</body>
</html>